<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    <link rel="stylesheet" type="text/css" href="../style/answer.css"/>
    <link rel="stylesheet" type="text/css" href="../style/editor.css"/>
    <title>Matvop</title>
  </head>
  <body>
    <nav>
      <div class="logo">
          <a href="/">Матвоп<sub>α</sub></a>
      </div>
      <div class="navigation">
          <ul class="navbar-">
            <li>
                <a href="/">Главная</a>
            </li>
            <li class="search">
                <form>
                  <input type="text" placeholder="Искать здесь...">
                  <button type="submit"></button>
                </form>
            </li>
            <li>
              <a href="/ask">Задать вопроc</a>
           </li>         
            <li>
                <a href="/logout">Выйти</a>
            </li>
          </ul>
      </div>
    </nav>

      <div class="container">
        
        <div class="question-a" id = "question">
            <div class="title"><%= data.Question.title %></div>
            <div class="description"><%= data.Question.description %></div>
        </div>
        <div class="line"></div>
        <div  class="answers-a" id = "answers">
            <% for(var i=0; i<data.Ans.length;i++) {%>
              <div class="answer-info">
                <div class="score">
                  <% if(data.Ans[i].isScored){ %>
                    <button type="submit" class="upscore" title="Вы уже голосовали"></button>
                    <div class="scoreNum"><%= data.Ans[i].score %></div>
                    <button type="submit" class="downscore" title="Вы уже голосовали"></button>
                  <%}else{%>
                  <form method="post" action="/upscore=<%= data.Ans[i].id %>">
                    <button type="submit" class="upscore" alt="fds"></button>
                  </form>
                  <div class="scoreNum"><%= data.Ans[i].score %></div>
                  <form method="post" action="/downscore=<%= data.Ans[i].id %>">
                    <button type="submit" class="downscore"></button>
                  </form>
                  <%}%>
                </div>
                <div class="text"><%= data.Ans[i].answer %></div>    
              </div>
              <div class="line"></div>
            <%} %>
        </div>
      </div>
        <div class="answer" id = "answer">
            <form method="post" action="/answer=<%= data.Question._id %>">
              <h4><label for="exampleInputTitle1">Ваш ответ:</label></h4>
              <div class="editor">
                <div class="bar">
                  <ul>
                    <li><button type="button" class="bold-btn"  
                      onclick="document.getElementById('text').value+='<Жирный текст><Жирный текст>'" >
                    </button></li>
                    <li><button type="button" class="italic-btn"
                      onclick="document.getElementById('text').value+='<Наклонный текст><Наклонный текст>'">
                    </button></li>
                  </ul>
                </div>
                <div class="form-group">
                  <textarea rows="10" class="form-control" name="description" id="text" required></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-dark">Ответить</button>
              
            </form>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>