<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    <link rel="stylesheet" type="text/css" href="../style/answer.css"/>
    <link rel="stylesheet" type="text/css" href="../style/editor.css"/>
    <link rel="stylesheet" type="text/css" href="../style/profile.css"/>
    <title>Matvop</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="cont">
        <nav>
          <div class="logo">
            <a href="/">Матвоп<sub>α</sub></a>
          </div>
          <div class="navigation">
            <ul class="navbar-">
              <li>
                <a href="/">Главная</a>
              </li>
              <li class="search">
                <form>
                  <input type="text" placeholder="Искать здесь...">
                  <button type="submit"></button>
                </form>
              </li>
              <li>
                <a href="/ask">Задать вопроc</a>
              </li>         
              <li>
                <a href="#" class="user-profile" onclick="document.getElementById('profile').style.display='block'"></a>
              </li>
            </ul>
          </div>
        </nav>
        <div id="profile" class="modal">
          <div class="modal-content animate">
            <ul class="submenu">
              <li><a href="/user/<%=user%>">Профиль</a></li>
              <li><a>Помощь</a></li>
              <li><a href="/logout">Выйти</a></li>
            </ul>
          </div>
        </div>
        <div class="container">    
          <div class="question-a" id = "question">
            <div class="title">
              <%= data.Question.title %>
            </div>
            <div class="description">
              <%= data.Question.description %>
            </div>
          </div>
          <div class="line"></div>
          <div  class="answers-a" id = "answers">
            <% for(let i=0; i<data.Ans.length;i++) {%>
              <div class="answer-info">
                <div class="score">
                  <% if(data.Ans[i].isScored){ %>
                    <button type="submit" class="upscore" title="Вы уже голосовали"></button>
                    <div class="scoreNum">
                      <%= data.Ans[i].score %>
                    </div>
                    <button type="submit" class="downscore" title="Вы уже голосовали"></button>
                  <%}else{%>
                    <form method="post" action="/upscore=<%= data.Ans[i].id %>">
                      <button type="submit" class="upscore" alt="fds"></button>
                    </form>
                    <div class="scoreNum">
                      <%= data.Ans[i].score %>
                    </div>
                    <form method="post" action="/downscore=<%= data.Ans[i].id %>">
                      <button type="submit" class="downscore"></button>
                    </form>
                  <%}%>
                </div>
                <div class="text">
                  <% let k = 0                                         %>
                  <% let t = -1                                        %>
                  <% let b = 0                                         %>
                  <% let it = 0                                        %>
                  <% let string = ''                                   %>
                  <% for(let j=0; j < data.Ans[i].answer.length; ++j){ %>
                  <%    if(k==0){                                      %>
                  <%      if(data.Ans[i].answer[j] === '<'){           %>
                  <%        ++k                                        %>
                  <%      }else{                                       %>
                  <%        string += data.Ans[i].answer[j]            %>
                  <%      }                                            %>
                  <%    }else{                                         %>
                  <%      if(k==1){                                    %>
                  <%        if(data.Ans[i].answer[j] === 'Ж'){         %>
                  <%          ++k                                      %>
                  <%          t = 0                                    %>
                  <%        }else{                                     %>
                  <%          if(data.Ans[i].answer[j] === 'Н'){       %>
                  <%            ++k                                    %>
                  <%            t = 1                                  %>
                  <%          }else{                                   %>
                  <%            string +='<'                           %>
                  <%            k=0                                    %> 
                  <%          }                                        %>
                  <%        }                                          %>
                  <%    }else{                                         %>
                  <%      if(k==2){                                    %>
                  <%        if(data.Ans[i].answer[j] === '>'){         %>
                  <%          if(t==0){                                %>
                                <%= string %>
                  <%            if(b%2==0){                            %>
                                  <b>
                  <%            }else{                                 %>
                                  </b>
                  <%            }                                      %>
                  <%            string=''                              %>
                  <%            k=0                                    %>
                  <%            ++b                                    %> 
                  <%          }                                        %>
                  <%          if(t==1){                                %>
                                <%= string %>
                  <%            if(it%2==0){                           %>
                                  <em>
                  <%            }else{                                 %>
                                  </em>
                  <%            }                                      %>
                  <%            string=''                              %>
                  <%            k=0                                    %>
                  <%            ++it                                   %> 
                  <%          }                                        %>
                  <%        }else{                                     %>
                  <%          if(t==0){                                %>
                  <%            string += 'Ж'                          %>
                  <%            k=0                                    %>              
                  <%          }                                        %>
                  <%          if(t==1){                                %>
                  <%             string +='Н'                          %>
                  <%            k=0                                    %> 
                  <%          }                                        %>
                  <%        }                                          %>
                  <%      }                                            %>
                  <%    }                                              %>
                  <%  }                                                %>
                  <% }                                                 %>
                      <%= string %>
                  <% if(b%2==1){                                       %>
                      </b>
                  <% }                                                 %>
                  <% if(it%2==1){                                      %>
                      </em>
                  <% }                                                 %>     
                </div>    
              </div>
              <div class="line"></div>
            <%} %>
          </div>
        </div>
        <div class="answer" id = "answer">
          <form method="post" action="/answer=<%= data.Question._id %>">
            <h4><label for="exampleInputTitle1">Ваш ответ:</label></h4>
            <div class="editor">
              <div class="bar">
                <ul>
                  <li>
                    <button type="button" class="bold-btn"  onclick="document.getElementById('text').value+='<Ж><Ж>'" ></button>
                  </li>
                  <li>
                    <button type="button" class="italic-btn" onclick="document.getElementById('text').value+='<Н><Н>'"></button>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <textarea rows="10" class="form-control" name="description" id="text" required></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-dark">Ответить</button>
            <br/>
            <br/>        
          </form>
        </div>
      </div>
      <footer>
        <p>2020 Матвоп  |  Email: al.timofeev.m@yandex.ru</p>
      </footer>
    </div>
    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>